<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="index, follow" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="/static/style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
  <link rel ="icon" href="/static/assets/icons/favicon.ico">
  <link rel="manifest" href="/static/assets/icons/manifest.webmanifest">
    <title>Crossdash Solutions</title>
  </head>
  <body>
      <nav>
        <a href="/"><div class="logo">
          <img src="/static/assets/png/logolarge.png" alt="" />
          <h1>CROSSDASH <br />SOLUTIONS</h1>
        </div></a>
        <ul class="navlinks">
          <li><a href="#services">Services</a></li>
          <li><a href="/projects">Projects</a></li>
          <li><a href="/careers">Careers</a></li>
        </ul>
        <div class="cta">
          <a href="#contact"
          ><button>GET IN TOUCH</button></a>
        </div>
        <div class="menu">
          <img src="/static/assets/svg/menu.svg" alt="">
        </div>
      </nav>
      
      <section class="header">
      <div class="headersection">
        <div class="headertext-part">
            <div class="headertext">
              <h2>We provide a one stop solution to all your digital problems.</h2>
            </div>
            <div id="line1">
              <img src="/static/assets/svg/violet line.svg" alt="" />
            </div>
            <div class="headerbutton">
              <a href="#contact"><button>GET IN TOUCH</button></a>
            </div>
        </div>
        <div class="headerimg">
          <img src="/static/assets/png/header image.png" alt="" />
        </div>
      </div>
    </section>

    <section class="services" id="services">
      <h2>Our Services</h2>
      <div id="line2">
        <img src="/static/assets/svg/green line.svg" alt="" />
      </div>

      <div class="service-grid">

        <div class = "service" id="design" class="designtext"
        data-aos="fade-up"
        data-aos-duration="1200"
        data-aos-offset="450">
          <div
            class="service-text" id = "design-text"
          >
            <h3>DESIGN <br> SERVICES</h3>
            <p>
              Build your brand and aesthetic using our well crafted design
              services.
            </p>
            <div class="seperator"></div>
            <ul>
              <li>UI/UX DESIGN</li>
              <li>GRAPHICS DESIGN</li>
              <li>CONTENT DEVELOPMENT</li>
            </ul>
          </div>
        </div>

        <div class="service" id="development" class="designtext"
        data-aos="fade-down"
        data-aos-duration="1200"
        data-aos-offset="450">
          <div
            class="service-text" id="development-text"
          >
            <h3>DEVELOPMENT SERVICES</h3>
            <p>
              Build interactive and dynamic websites and apps for your business.
            </p>
            <div class="seperator"></div>
            <ul>
              <li>WEB DEVELOPMENT</li>
              <li>ANDROID DEVELOPMENT</li>
              <li>iOS DEVELOPMENT</li>
              <li>SERVER HANDLING & MAINTAINANCE</li>
              <li>DESKTOP SOFTWARE GUI</li>
              <li>DJANGO DEVELOPMENT</li>
              <li>REST FRAMEWORK DEVELOPMENT</li>
            </ul>
          </div>
        </div>

        <div class="service" id="software" class="designtext"
        data-aos="fade-up"
        data-aos-duration="1200"
        data-aos-offset="450">
          <div
            class="service-text" id="software-text"
          >
            <h3>AUTOMATED SOLUTIONS</h3>
            <p>
              Wide range of high quality software solutions to make your life
              easier.
            </p>
            <div class="seperator"></div>
            <ul>
              <li>MACHINE & DEEP LEARNING</li>
              <li>EMBEDDED SYSTEMS DEVELOPMENT</li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <section id="contact" class="designtext"
    data-aos="fade-right"
    data-aos-duration="1200"
    data-aos-offset="300">
      <div class="form-container">
        <h3>LET'S COLLABORATE!</h3>
        <h4>Connect with us.</h4>
        <form action="/" method="post">
          {% csrf_token %}
            <div id="name">
              <input
                type="text"
                placeholder="First Name"
                name="first_name"
                required=""
                autocomplete="none"
              />
              <input
                type="text"
                placeholder="Last Name"
                name="last_name"
                required=""
                autocomplete="none"
              />
            </div>
            <div id="email">
              <input
                type="email"
                placeholder="Email"
                name="email"
                required=""
                autocomplete="none"
              />
              <input
                type="tel"
                placeholder="Phone Number"
                name="phone"
                pattern="[0-9]{10}"
                required=""
                autocomplete="none"
              />
            </div>
            <div id="details">
              <select
                name="service"
                placeholder="Select the service that you want"
                id=""
                required=""
              >
                <option value="none" selected="selected">Select service</option>
                {% for service in services %}
  
                  <option value="{{ service }}">{{ service }}</option>
  
                {% endfor %}
              </select>
              <textarea
                name="details"
                placeholder="Tell us about your project"
                id=""
                cols="20"
                rows="10"
              ></textarea>
            </div>
            <div id="submit">
              <input type="submit" />
            </div>
          </form>
      </div>
    </section>

    <footer>
      <div class="footer-links">
        <div id="contactus">
          <h3>Contact Us</h3>
          <div class="contact-details">
            <img src="/static/assets/svg/mail.svg" alt="" />
            <p>crossdash@gmail.com</p>
          </div>
          <div class="contact-details">
            <img src="/static/assets/svg/location.svg" alt="" />
            <p>
              Shop No. S-5, Malhan Plaza, Pocket-7,<br />
              Plot No. 5, Sector-12, Dwarka, <br />New Delhi - 110078
              <br />India
            </p>
          </div>
          <div class="contact-details">
            <a href="tel:+91 9310117667"
              ><img src="/static/assets/svg/phone.svg" alt=""
            /></a>
            <a href="tel:+91 9310117667"><p>+91 9310117667</p></a>
          </div>
        </div>
        <div id="quicklinks">
          <h3>Quick Links</h3>
          <ul>
              <a href="/"><li>Home</li></a>
              <a href="/#services"><li>Services</li></a>
              <a href="/projects"><li>Projects</li></a>
              <a href="/careers"><li>Careers</li></a>
          </ul>
        </div>
        <div id="footerservices">
          <h3>Services</h3>
          <ul>
            <a href="#design"><li>Design</li></a>
            <a href="#development"><li>Development</li></a></a>
            <a href="#software"><li>Software</li></a></a>
          </ul>
        </div>
      </div>
      <p id="copyright">
        © 2020 Crossdash Solutions. All rights reserved.
      </p>
    </footer>

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>

    <script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll@15.0.0/dist/smooth-scroll.polyfills.min.js"></script>
    <script>
      var scroll = new SmoothScroll('a[href*="#"]', { speed: 800 });
    </script>

    <script src="/static/nav.js"></script>
  </body>
</html>
