#qzzo-header {
  background: url("/static/assets/png/qzzo-header.png");
  height: 50vh;
  background-size: cover;
  width: 100%;
}
#qzzo-header h1 {
  margin-left: 7rem;
  position: relative;
  top: 15%;
  color: white;
  font-size: 7.2rem;
  font-weight: 800;
  letter-spacing: 0.4rem;
  font-family: "montserrat";
  opacity: 0;
  animation: transitionIn 800ms ease forwards 200ms;
}
.header-info {
  position: relative;
  margin-top: 9rem;
  margin-left: 7rem;
  color: white;
  display: flex;
  width: 65%;
  justify-content: space-between;
}
.header-info h2 {
  font-size: 2.2rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  margin-bottom: 1.2rem;
}
.header-info h4 {
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
}
.services-info {
  opacity: 0;
  animation: transitionIn 800ms ease forwards 1000ms;
  width: 65%;
}
.clients-info {
  opacity: 0;
  animation: transitionIn 800ms ease forwards 600ms;
}
.casestudy {
  margin-top: 10rem;
}
.casestudy-body {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40rem;
}
.casestudy-bodytext {
  margin-left: 42rem;
  position: absolute;
}
.casestudy-title h2 {
  font-size: 3.2rem;
  font-weight: 600;
  color: #02216b;
  width: 25rem;
  letter-spacing: 0.2rem;
  margin-left: 7rem;
}
.casestudy-line img {
  width: 20%;
  margin-top: 1.6rem;
  margin-left: 7rem;
}
.casestudy-bodytext p {
  font-size: 2rem;
  color: #707070;
  width: 85%;
  letter-spacing: 0.08rem;
  font-family: "Source Serif Pro", serif;
  line-height: 3.2rem;
  margin-bottom: 4rem;
}
.casestudy-subbody {
  margin-top: -5rem;
  width: 100%;
}
.casestudy-subbody h2 {
  font-size: 2.6rem;
  margin-left: 7rem;
  color: #666666;
  font-weight: 600;
}
.subbody-img {
  text-align: center;
}
.casestudy-subbody img {
  width: 45%;
}
#brochure {
  margin-top: 10rem;
}
#brochure-img {
  display: flex;
  margin-top: 3rem;
  flex-direction: column;
}
#brochure-img img {
  margin: 0 auto;
  width: 60%;
  margin-top: 2rem;
}
#uiux-text {
  margin-top: 18rem;
  margin-bottom: 0rem;
}
#uiux {
  margin-top: 8rem;
}
#uiux-img {
  margin-top: 4rem;
  display: flex;
  padding: 0 12rem;
}
#uiux-img img {
  margin: 0 auto;
  width: 26%;
}
#webdev-text {
  margin-top: 18rem;
  margin-bottom: 0rem;
}
#webdev-img img {
  margin-top: 6rem;
  width: 80%;
}
footer {
  top: 25rem;
}
